<h4>Server monitoring migration</h4>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Source Server</th>
            <th>Destination Proxy</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{include "migration/fragments/run-status-hosts-default-actions"}}
    </tbody>
</table>

<hr>

<h4>Proxy monitoring migration</h4>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Source Proxy</th>
            <th>Host Count</th>
            <th>Destination Proxy</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{include "migration/fragments/run-status-hosts-actions"}}
    </tbody>
</table>
