<div class="card border-info mb-2">
    <div class="card-header">
        <i class="bi bi-info-circle"></i>
        General information
    </div>
    <div class="card-body">
        {{include "migration/fragments/run-status-migration"}}
    </div>
</div>

<div class="card border-warning mb-2">
    <div class="card-header">
        <i class="bi bi-journal-text"></i>
        Template migration
    </div>
    <div class="card-body">
        {{include "migration/fragments/run-status-templates"}}
    </div>
</div>

{{if .migration.IsTemplateSuccessful}}
<div class="card border-danger mb-2">
    <div class="card-header">
        <i class="bi bi-hdd-network-fill"></i>
        Hosts migration
    </div>
    <div class="card-body">
        {{include "migration/fragments/run-status-hosts"}}
    </div>
</div>
{{end}}