<div class="row">
    <div class="col-md-4">
        Migration Name:
    </div>
    <div class="col-md-8">
        <strong>{{.migration.Name}}</strong>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <i class="bi bi-heart-arrow"></i>
        Source:
    </div>
    <div class="col-md-8">
        <strong>{{.migration.Source.Name}}</strong>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <i class="bi bi-bullseye"></i>
        Destination:
    </div>
    <div class="col-md-8">
        <strong>{{.migration.Destination.Name}}</strong>
    </div>
</div>