<div class="card border-info mb-2">
    <div class="card-header">
        <i class="bi bi-info-circle"></i>
        General information
    </div>
    <div class="card-body">
        {{include "migration/fragments/run-status-migration"}}
    </div>
</div>

<div class="card border-warning">
    <div class="card-header">
        <i class="bi bi-journal-text"></i>
        Template migration
    </div>
    <div class="card-body">
        {{include "migration/fragments/run-status-templates"}}
    </div>
</div>