{{define "content"}}

{{ include "migration/fragments/header" }}

{{if not .migration.IsTemplateImported}}
    <div class="d-flex align-items-center alert alert-light">
        <strong role="status">Loading template information from Zabbix servers, please wait a moment...</strong>
        <div class="spinner-border ms-auto" aria-hidden="true"></div>
    </div>
{{else}}
    {{/*include "migration/fragments/template-binding-form" */}}
    Template imported
{{end}}

{{end}}
{{define "scripts"}}
{{if not .migration.IsTemplateImported}}
    <script>
        var importEventsUrl = "{{ .importEventsUrl }}";
    </script>
    <script src="/js/migration/proxy-import.js"></script>
{{end}}
{{end}}